* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/assets/images/stripeslight.png);
    margin: 0 auto;
    overflow: auto;
    color: #777;
    font-size: 18px;
    line-height: 1.5;
}

header {
    width: 100%;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    overflow: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navcontainer {
    width: 100%;
    max-width: 960px;
    margin:0 auto;
    clear: both;
}
/* settings for my name */
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    padding: 20px;
    float: left;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

/* Nav bar set to align with all pages */
.topnav {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-top: 25px;
    word-spacing: 10px;
}
/* bonus */
a:link {
    text-decoration: none;
    color: #999;
}

a:hover {
    font-size: 150%;
    color: #59ccc6;;
}

/* About me settings */
.aboutme {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: 40px 15% 15% 15%;
    padding: 30px;
    width: 960px;
}

.aboutme p {
    padding-top: 10px;
 }

/* image for indext/about me page */
img {
    float: left;
    padding: 20px;
    padding-left: 0;
}

/* Main heading for all pages */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5; 
    font-size: 30px;
    font-weight: 700px;
    line-height: 49px; 
    border-bottom: 2px solid #cccccc;
}

/* Contact page settings */
.contact { 
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: 40px 15% 15% 15%;
    padding: 30px;
    width: 960px;
}

/* Portoflio settings */
.portfolio { 
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: 40px 15% 15% 15%;
    padding: 30px;
    width: 960px;
    float: left;
}

/* Form settings and colors */
.form {
    font-size: 20px;
    color: gray;
}

.insideform {
    margin-top: 20px;
}

input {
    margin-bottom: 15px;
}

}
/* setting images next to each other */
.imageset {
    float: left;
    padding: 2px;
    position: relative;
    z-index: 1;
}

/* adding place holder and hiding pix */
.hidepix {
    display: none;
}
/* setting images next to each other */
.imageset {
    float: left;
    padding: 2px;
    position: relative;
    z-index: 1;
}

/* adding place holder and hiding pix */
.hidepix {
    display: none;
}

.labelset {
    z-index: 2;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
    width: 280px;
    margin-bottom: 0px;
    background-color: #4aaaa5;
}
.label1 {
    position: absolute;
    top: 120px;
}

.label2 {
    position: absolute;
    left: 302px;
    top: 120px;
}

.label3 {
    position: absolute;
    top: 120px;
}

.label4 {
    position: absolute;
    left: 302px;
    top: 120px;
}

.label5 {
    position: absolute;
    top: 120px;
}

.label6 {
    position: absolute;
    left: 302px;
    top: 120px;
}

/* input form settings */
input [type=text], textarea, input{
    width: 100%;
    border: 1px solid #dddddd;
    padding: 5px;
}

/* Its a submit button */
button {
    font-weight: bold;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px 25px 10px 25px;
    border: 0;
    margin-top: 20px;
}

/* Footers settings set to be centered with top higlighted boarder fixed on bottom*/
footer {
    color: #ffffff;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}