body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/assets/images/stripes-light.png);
}

.aboutme { 
    border: 2px solid #666666;
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
    padding: 20px;
}

hr {
    color: whitesmoke;
 }

.active {
    border: #4aaaa5;
    font-size: 40px #cccccc;
}

header {
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
    padding: 20px;
    background-color: #ffffff;
    border-color: #cccccc;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    
}

footer {
    color: #ffffff;
    background-color: #666666;
    padding: 20px;
    border-top: 10px solid #4aaaa5;
    text-align: center;
}

