body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/assets/images/stripeslight.png);
    margin: 0;
    overflow: auto;
}

header {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin-top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* settings for my name */
h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 60%;
    margin-left: 15%;
    padding: 20px;
    background-color: #4aaaa5;;
    color: #ffffff; 
    font-size: 40px;
    text-align: center;
}

/* Nav bar set to align with all pages */
.topnav {
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:30px;
    font-size:20px;
    word-spacing: 5px;
    margin: 0;
    position: absolute;
    top:0;
    left: 55%
}

a:link {
    text-decoration: none;
    color: #666666;
}

a:hover {
    font-size: 150%;
    color: #59ccc6;;
}

/* About me settings */
.aboutme {
    width: 960px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: 40px 15% 15% 15%;
    padding: 20px;
    font-size: 20px;
}

hr {
    color: whitesmoke;
 }

/* image for indext/about me page */
img {
    float: left;
    padding: 20px;
    padding-left: 0;
}

/* Main heading for all pages */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5; 
}

/* Contact page settings */
.contact { 
    width: 960px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: 40px 15% 15% 15%;
    padding: 20px;
    font-size: 20px;
    overflow: auto;
}

/* Portoflio settings */
.portfolio { 
    width: 960px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: 40px 15% 15% 15%;
    padding: 20px;
    font-size: 20px;
    float: left;
}

/* Form settings and colors */
.form {
    font-size: 20px;
    padding: 10px;
    color: gray;
}

/* setting images next to each other */
.imageset {
    float: left;
    padding: 2px;
    position: relative;
    z-index: 1;
}

/* adding place holder and hiding pix */
.hidepix {
    display: none;
}
/* setting images next to each other */
.imageset {
    float: left;
    padding: 2px;
    position: relative;
    z-index: 1;
}

/* adding place holder and hiding pix */
.hidepix {
    display: none;
}

.labelset {
    z-index: 2;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    width: 260px;
    height: 20px;
    margin-bottom: 22225px;
    background-color: #4aaaa5;
}
.label1 {
    position: absolute;
    top: 150px;
}

.label2 {
    position: absolute;
    left: 322px;
    top: 150px;
}

.label3 {
    position: absolute;
    top: 150px;
}

.label4 {
    position: absolute;
    left: 322px;
    top: 150px;
}

.label5 {
    position: absolute;
    top: 150px;
}

.label6 {
    position: absolute;
    left: 322px;
    top: 150px;
}

/* input form settings */
input [type=text], textarea, input{
    width: 100%;
    border: 1px solid #dddddd;
    padding: 5px;
}

/* Its a submit button */
button {
    font-weight: bold;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px 25px 10px 25px;
    border: 0;
    margin-top: 20px;
}

/* Footers settings set to be centered with top higlighted boarder fixed on bottom*/
footer {
    color: #ffffff;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}